{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="img-profile">
                            <img src="{{ account.avatar.url }}" alt="avatar"
                                 class="rounded-circle  img-fluid">
                        </div>
                    </div>
                </div>
                <!--      Опции профиля    -->
                {% include 'accounts/blocks/profile_sidebar.html' %}
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="{% url 'update_password_profile' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 fw-bolder">Никнейм</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="fw-bolder mb-0">{{ account.username }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Старый пароль</p>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="password" class="form-control" name='oldpassword' required/>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Новый пароль</p>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="password" class="form-control" name='password1' required/>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Повторите новый пароль</p>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="password" class="form-control" name='password2' required/>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                {% if messages %}
                                    {% for msg in messages %}
                                        <div class="message text-danger fw-bolder pt-2">{{ msg }}</div>
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn btn-primary mt-4">Обновить пароль
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
