{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="img-profile">
                            <img src="{{ account.avatar.url }}" alt="avatar"
                                 class="rounded-circle  img-fluid">
                        </div>
                        <form action="{% url 'profile_upload_image' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="d-flex flex-column align-items-center">
                                <label class="form-label" for="uploadImage">Изменить фото профиля</label>
                                <input type="file" class="form-control"
                                       name="image_upload" accept="image/png, image/jpeg" id="uploadImage"/>
                                <button type="submit" class="btn btn-primary mt-2">Загрузить изображение
                                </button>
                            </div>
                        </form>
                        {% if messages %}
                            <div class="text-center p-2">
                                {% for msg in messages %}
                                    {% if msg.extra_tags == 'upload_error' %}
                                        <div class="message text-danger fw-bolder">
                                            {{ msg }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--      Опции профиля    -->
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Мои друзья</a>
                                </button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Сообщения</a>
                                </button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Найти друга</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bolder">Никнейм</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="fw-bolder mb-0">!{{ account.username }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.first_name }} {{ account.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Пол</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ gender }}</p>
                            </div>
                        </div>
                        {% if  account.age %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Возраст</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.age }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.city %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Город</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.city }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.job %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Место работы</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.job }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.about %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">О себе</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.about }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">@mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">@mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}