{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ account.avatar.url }}" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3 mt-0">{{ account.first_name }} {{ account.last_name }}</h5>
                        {% if account.status %}
                        <p class="text-muted mb-1">{{ account.status }}</p>
                        {% endif %}
                        <!--       редактировать профиль                 -->
                        <button class="btn btn-link btn-outline-primary mt-2">
                            <a href="">Редактировать профиль</a>
                        </button>
                    </div>
                </div>
                <!--      Опции профиля    -->
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Мои друзья</a>
                                </button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Сообщения</a>
                                </button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                <button class="btn btn-link btn-outline btn-block btn-lg">
                                    <a href="" class="fw-bolder fs-6">Найти друга</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bolder">Никнейм</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="fw-bolder mb-0">!{{ account.username }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.first_name }} {{ account.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Пол</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ gender }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Возраст</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.age }}</p>
                            </div>
                        </div>
                        {% if account.city %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Город</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.city }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.job %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Место работы</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.job }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.about %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">О себе</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.about }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">@mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fas fa-globe fa-lg text-warning"></i>
                                        <p class="mb-0">https://mdbootstrap.com</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">@mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">mdbootstrap</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}