{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="my-friend-list d-flex align-items-center justify-content-end flex-wrap">
                            <div class="">teeeeeeeeeeeeeeeeeeee</div>
                            <div class="input-group people-search">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="search" id="form1" class="form-control"/>
                                    <label class="form-label" for="form1">Search</label>
                                </div>
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        {% for acc in accounts %}
                            <div class="my-friend-list d-flex align-items-center justify-content-end flex-wrap">
                                <div class="img-myfriends">
                                    <a href="{% url 'user_profile' acc.username %}">
                                        <img src="{{ acc.avatar.url }}" alt="avatar"
                                             class="rounded-circle img-fluid">
                                    </a>
                                </div>

                                <p class="fw-bolder m-2 ms-5 me-auto">
                                    <a href="{% url 'user_profile' acc.username %}">
                                        {{ acc.first_name }} {{ acc.last_name }}
                                    </a>
                                </p>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="from" value="search">
                                    <input type="hidden" name="to_user" value="{{ fr.from_user.username }}">
                                    <button class="btn btn-primary mt-2 me-2" type="submit">
                                        Добавить в друзья
                                    </button>
                                </form>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="from" value="search">
                                    <input type="hidden" name="to_user" value="{{ fr.from_user.username }}">
                                    <button class="btn btn-primary mt-2" type="submit">
                                        Написать сообщение
                                    </button>
                                </form>


                            </div>
                            {% if not forloop.last %}
                                <hr/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
