{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">

        <div class="row">

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 fw-bolder">Никнейм</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="fw-bolder mb-0">{{ account.username }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.first_name }} {{ account.last_name }}</p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Пол</p>
                            </div>
                            <div class="col-sm-9">
                                {% if account.gender == 1 %}
                                    <p class="text-muted mb-0">Мужчина</p>
                                {% else %}
                                    <p class="text-muted mb-0">Женщина</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if  account.age %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Возраст</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.age }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.city %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Город</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.city }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.job %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Место работы</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.job }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if account.about %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">О себе</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ account.about }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div class="img-profile">
                            <img src="{{ account.avatar.url }}" alt="avatar"
                                 class="rounded-circle  img-fluid">
                        </div>
                        <h5 class="my-3 mt-0">{{ account.first_name }} {{ account.last_name }}</h5>
                        {% if account.status %}
                            <p class="text-muted mb-1">{{ account.status }}</p>
                        {% endif %}
                        {% if not friendship_request %}
                            <form method="POST" action="{% url 'add_friend' account.username %}">
                                <input type="hidden" name="user_to" value="{{ account.username }}">
                                <button class="btn btn-primary mt-2" type="submit">
                                    Добавить в друзья
                                </button>
                            </form>
                        {% else %}
                            <button class="btn btn-primary mt-2" type="submit" disabled>
                                Заявка отправлена
                            </button>
                        {% endif %}
                        <a href="">
                            <button class="btn btn-primary mt-2">
                                Написать сообщение
                            </button>
                        </a>
                        <a href="">
                            <button class="btn btn-danger mt-2">
                                Заблокировать
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
