<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>pMessage</title>
    {# include style.css #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#  include mdb styles  #}
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <script src="https://kit.fontawesome.com/6705e182bd.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark">
    <div class="container">
        <a href="" class="navbar-brand">pMessage</a>
    </div>
</nav>
<section>
    <div class="container">
        <div class="" style="height: 80vh"></div>
    </div>
</section>
<footer>
    footer
</footer>
<script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>
</body>
</html>