{% extends 'base.html' %}
{% block content %} 
     <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Главная</h1>
                        <div class="text-center"><img src="../static/images/index.jpg" alt="" class="img-fluid bg-image"></div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam, aliquid blanditiis,
                            corporis distinctio fugiat, inventore ipsa magni minus nostrum odio omnis quis recusandae
                            vitae voluptas? Assumenda deleniti est eveniet facere iure officia tempore voluptatum. Ab
                            ducimus eveniet harum natus porro quidem tenetur. Distinctio earum eius expedita facere
                            numquam ratione repellendus. Aliquam aspernatur consectetur deleniti ducimus earum expedita
                            facere fugit illo iste laboriosam, non praesentium quam qui quidem quos rerum tenetur
                            veritatis. A, aperiam cumque dolore doloribus, eius, hic incidunt ipsa minima numquam
                            quibusdam sequi veritatis vero voluptatem! Autem consequuntur culpa cum dignissimos facilis,
                            inventore iure labore molestiae nihil nulla placeat quae quam qui quia quidem reiciendis rem
                            similique sint vel velit. A accusamus accusantium beatae consequatur, delectus dolorem eos,
                            esse id illo magnam magni maxime necessitatibus nulla placeat possimus provident quam
                            quibusdam quisquam ratione sapiente. A eius eligendi impedit ipsa magnam non repudiandae
                            sunt velit. Architecto consectetur cumque hic impedit unde. Adipisci architecto aspernatur
                            autem beatae commodi consequuntur corporis cumque delectus, dolorum ea esse et ex expedita
                            facilis fugit hic illo ipsa iste itaque iure laboriosam, magnam minima mollitia nam
                            necessitatibus nesciunt nisi non numquam optio perspiciatis quas, quibusdam quod sequi sint
                            tenetur unde vero. Ab ad animi beatae consequatur delectus dolores ea eligendi explicabo
                            ipsa ipsum, iste maxime modi optio placeat possimus recusandae rerum saepe, similique
                            tempore voluptatem. Aliquam eos error inventore tenetur. Aliquid animi, architecto
                            asperiores commodi deleniti dignissimos dolores ducimus earum eius eveniet facilis harum
                            iste nam odit quasi rerum vero. Accusamus, alias consectetur cupiditate dolor dolorum hic,
                            id in iste magnam nemo neque nobis! Ad animi deserunt dicta earum laborum maxime nam nihil
                            officiis quidem, quo rem saepe ut, vel! Ab, debitis dignissimos distinctio dolore dolorum
                            eos incidunt minus modi molestiae nam numquam qui quia quod quos repellat sunt tempora
                            voluptate? A debitis et ex excepturi laboriosam nam, odio quasi. A, asperiores atque, aut
                            distinctio doloremque eos error expedita in magni maiores, minus modi nihil quia repellat
                            sit unde vero? Accusantium alias dolorum eum explicabo fuga, nesciunt nostrum recusandae
                            repellat? Alias cum ea eius eveniet, fuga illum, inventore ipsam laudantium maxime porro quo
                            quos, repudiandae soluta ullam vero! Accusantium assumenda maxime perspiciatis suscipit
                            veniam? Alias amet architecto consequuntur corporis deserunt dolor doloribus eaque est et
                            excepturi expedita explicabo facere facilis fugiat, harum illum, ipsam iusto magni nihil
                            nulla numquam officia pariatur, perferendis placeat quaerat quasi rerum saepe sapiente sint
                            soluta totam unde veritatis voluptates? Aut dolores eos in molestiae, similique vel.
                            Explicabo, itaque, nam. Deleniti dolore facere laborum ullam vitae! Adipisci aliquid dicta
                            eaque eius, enim excepturi expedita id impedit, itaque labore laborum molestiae
                            necessitatibus officia perspiciatis quaerat quasi velit. Animi assumenda at autem culpa
                            ducimus, error ex facilis ipsum itaque nisi, nulla odit pariatur quam quas quasi quis sed
                            voluptatum. Dignissimos id nemo odit quas suscipit? Ad aperiam aut consectetur consequuntur
                            cum cupiditate dignissimos doloremque dolores exercitationem, expedita hic id illum itaque
                            laborum libero magnam magni natus perferendis placeat possimus, provident quae qui
                            reprehenderit tenetur unde velit voluptate voluptatem. Eius esse nisi sit vitae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}