<div class="card mb-4 mb-lg-0">
    <div class="card-body p-0">
        <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                <a href="{% url 'profile' %}" class=" fs-6 btn-block btn-lg">
                    <button class="btn btn-link btn-outline btn-block btn-lg fw-bolder">
                        Мой профиль
                    </button>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                <a href="{% url 'myfriends' %}" class="fs-6 btn-block btn-lg">
                    <button class="btn btn-link btn-outline btn-block btn-lg fw-bolder">
                        Мои друзья
                    </button>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                <a href="" class=" fs-6 btn-block btn-lg">
                    <button class="btn btn-link btn-outline btn-block btn-lg fw-bolder">
                        Сообщения
                    </button>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                <a href="" class="fs-6 btn-block btn-lg">
                    <button class="btn btn-link btn-outline btn-block btn-lg fw-bolder">
                        Найти друга
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
